@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #af3939;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 171.43 31.82% 91.37%;

    --primary: 170.72 45.12% 42.16%;
    --primary-foreground: 168 45.45% 4.31%;

    --card: 165 14.29% 5.49%;
    --card-foreground: 171.43 31.82% 91.37%;

    --popover: 0 0% 0%;
    --popover-foreground: 171.43 31.82% 91.37%;

    --secondary: 169.41 44.74% 14.9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 169.41 44.74% 14.9%;
    --accent-foreground: 171.43 31.82% 91.37%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 170.53 44.19% 8.43%;
    --input: 168 10.2% 19.22%;
    --ring: 170.72 45.12% 42.16%;

    --chart-1: 170.72 45.12% 42.16%;
    --chart-2: 170.6 45.36% 35.88%;
    --chart-3: 171.43 45.32% 27.25%;
    --chart-4: 171.11 45.76% 23.14%;
    --chart-5: 170.23 44.33% 19.02%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
