@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #af3939;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 292 29.41% 90%;

    --primary: 293.47 61.21% 32.35%;
    --primary-foreground: 294 29.41% 93.33%;

    --card: 285 15.38% 5.1%;
    --card-foreground: 292 29.41% 90%;

    --popover: 0 0% 0%;
    --popover-foreground: 292 29.41% 90%;

    --secondary: 293.33 62.07% 11.37%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 293.33 62.07% 11.37%;
    --accent-foreground: 292 29.41% 90%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 291.43 63.64% 6.47%;
    --input: 289.09 11.83% 18.24%;
    --ring: 293.47 61.21% 32.35%;

    --chart-1: 293.47 61.21% 32.35%;
    --chart-2: 293.72 61.43% 27.45%;
    --chart-3: 293.54 60.75% 20.98%;
    --chart-4: 293.45 60.44% 17.84%;
    --chart-5: 293.48 62.16% 14.51%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
